<ul class="nav navbar-top-links navbar-right">
  <li><%= current_admin.name %></li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">

            <%= link_to destroy_admin_session_path, method: :delete do %>
            <i class="fa fa-sign-out fa-fw"></i> Logout
            <% end %>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->
